* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

h1 {
  margin-bottom: 2rem;
  color: #455eb5;
  font-size: 2rem;
}

button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 0.7rem;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.7rem;
  text-align: center;
  transition: all 0.5s;
}

ul {
  list-style: none;
  font-size: 1.5rem;
  color: #333333;
  text-align: left;
}

li {
  border: solid #333333 2px;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
}

li::first-letter {
  font-weight: bold;
}

li:hover {
  border: solid #673fd7 2px;
}

a {
  font-size: 1.2rem;
}

#links-div {
  margin: 3rem 0;
}

#links-div > * {
  margin: 1rem 0;
}

.correct {
  color: #4fa854;
}

.wrong {
  text-decoration: line-through;
  color: #ea4535;
}

/* Media Queries */

@media only screen and (max-width: 970px) {
  h1 {
    margin-top: 2rem;

    font-size: 1.5rem;
  }
  .centered {
    top: 45%;
    width: 80%;
  }
  button {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1.3rem;
  }
}
