* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../public/images/bgrey.jpg');
  background-repeat: repeat;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

h1 {
  margin-bottom: 2rem;
  color: #455eb5;
  font-size: 2rem;
}

button {
  border-radius: 0.7rem;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.7rem;
  text-align: center;
  transition: all 0.5s;
  margin: 5rem 0;
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
}

button:hover {
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

ul {
  list-style: none;
  font-size: 1.5rem;
  color: #333333;
  text-align: left;
}

li {
  border: solid #333333 2px;
  border-radius: 0.7rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

li::first-letter {
  font-weight: bold;
}

li:hover {
  border: solid #673fd7 2px;
}

a {
  font-size: 1rem;
  color: #535353;
  text-decoration: none;
}

#links-div {
  text-align: left;
  padding: 0 2rem 0.5rem 2rem;
  position: absolute;
}

#links-div > * {
  margin: 0.5rem 0 0 0;
}

.correct {
  color: #4fa854;
}

.wrong {
  text-decoration: line-through;
  color: #ea4535;
}

/* Media Queries */

@media only screen and (max-width: 970px) {
  h1 {
    margin-top: 2rem;

    font-size: 1.5rem;
  }
  .centered {
    top: 45%;
    width: 80%;
  }
  button {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1.3rem;
  }
}

.banner-correct {
  background-color: #4fa854;
  color: white;
  border: solid #4fa854 2px;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.banner-wrong {
  background-color: #ea4535;
  color: white;
  border: solid #ea4535 2px;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

#start-quiz-button {
  cursor: pointer;
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  width: 25rem;
  height: 10rem;
  font-size: 4rem;
  border-radius: 2rem;
}
#start-quiz-button:before {
  height: 0%;
  width: 2px;
}
#start-quiz-button:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}