* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../public/images/bgrey.jpg');
  background-repeat: repeat;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

h1 {
  margin: 5rem 0 2rem 0;
  color: #455eb5;
  font-size: 2rem;
}

button {
  border-radius: 0.7rem;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.7rem;
  text-align: center;
  transition: all 0.5s;
  margin: 5rem 0;
  width: 50%;
  background: #673fd7;
  background: linear-gradient(0deg, #673fd7 0%, #9f7dfd 100%);
}

button:hover {
  background: #8d66f8;
  background: linear-gradient(0deg, #8d66f8 0%, #a687fc 100%);
}

ul {
  list-style: none;
  font-size: 1.5rem;
  color: #333333;
  text-align: left;
}
@keyframes slideMe {
  0% {
    transform: translateX(-100%);
    border: solid #8d66f8;
    background-color: #333333;
  }
  100% {
    transform: translateX(0);
    border: solid #333333 2px;
    background-color: #fff;
  }
}
li {
  border: solid #333333 2px;
  border-radius: 0.7rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;

  /* animation: 1s ease-out 0s 1 slideMe; */
  animation-name: slideMe;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

li::first-letter {
  font-weight: bold;
}

li:hover {
  border: solid #673fd7 2px;
}

a {
  font-size: 1rem;
  color: #535353;
  text-decoration: none;
}

#links-div {
  text-align: left;
  padding: 0 2rem 0.5rem 2rem;
  position: absolute;
}

#links-div > * {
  margin: 0.5rem 0 0 0;
}

.correct {
  color: #4fa854;
}

.wrong {
  color: #ea4535;
}

.banner-correct {
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  background-color: #4fa854;
  color: white;
  border: solid #4fa854 2px;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: 500;
}

.banner-wrong {
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  background-color: #ea4535;
  color: white;
  border: solid #ea4535 2px;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: 500;
}

#score {
  background: #673fd7;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  width: 50%;
  float: right;
  height: 2.2rem;
}

#remaining-questions {
  background: #673fd7;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  width: 50%;
  bottom: 0;
  float: left;
  height: 2.2rem;
}

#start-quiz-button {
  cursor: pointer;
  background: #673fd7;
  background: linear-gradient(0deg, #673fd7 0%, #9f7dfd 100%);
  border: none;
  width: 40%;
  height: 100%;
  padding: 3% 0 3% 0;
  font-size: 3rem;
  border-radius: 2rem;
}

#start-quiz-button:before {
  height: 0%;
  width: 2px;
}
#start-quiz-button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

#restart-button {
  margin-left: 30%;
}

/* Media Queries */
@media only screen and (max-width: 970px) {
  h1 {
    font-size: 1.5rem;
  }

  #user-interface {
    margin-top: 5rem;
  }

  .centered {
    top: 45%;
    width: 80%;
  }

  ul {
    font-size: 1.3rem;
  }

  #remaining-questions {
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  #score {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    height: 3rem;
  }

  #quiz {
    width: 100%;
  }

  button {
    font-size: 150%;
  }

  #start-quiz-button {
    font-size: 150%;
  }
}
